
h1 {
    color: #777764;
    text-align: center;
    font-family: dm-medium;
    text-transform:uppercase;
    font-size: 40px;
    text-decoration: none;
    font-weight: 900;
    }

h2 {
    color: #4f4747;
    text-align: center;
    font-family: dm-medium;
    font-size: 30px;
    text-transform: uppercase;
    font-weight:300;
}

h3 {
    color: #4f4747;
    text-align: center;
    font-family: dm-italic;
    font-size: 24px;
    text-decoration: none;
    font-weight:300;
}

p {
    color: #4f4747;
    text-align: center;
    font-family: dm-reg;
    font-size: 24px;
    font-weight:300;
}

#title{
    margin-top: 10%;
    padding-top: 5%;
    
}

.socials {
    padding: 0%;
}
.carousel {
    height: 600px;
    display: flex;
    align-items: center;
}

.carousel .carousel-item {
    width: 300px;
    height: 300px;
}
.carousel-item {
    padding: 3%;
}

.carousel-item:hover{
    background-color: #cccccc;
    border-radius: 10%;
}